.App {
  position: relative;
  background: #fffafa;
}
.main_wrapper {
  margin: auto;
  padding: 10px;
  width: 420px;
  height: 550px;
  border: 1px solid grey;
  border-radius: 10px;
  color: rgb(6, 54, 83);
}
.contact_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  background: #f8f8ff;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 5px;
  width: 400px;
  height: 70px;
  margin: 5px auto;
  padding: 8px;
  text-align: left;
  color: rgb(6, 54, 83);
  text-decoration: none;
}
.delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
  background: #f8f8ff;
  color: rgb(6, 54, 83);
}
.contact_wrapper:hover .delete-btn {
  display: block;
}
.name_initials {
  border: 1px solid grey;
  border-radius: 50%;
  padding: 20px;
  background: rgb(224, 224, 224);
}
.contact_info {
  margin: 20px;
  line-height: 5px;
  color: rgb(6, 54, 83);
}
.addContact_btn {
  border: none;
  background: #fffafa;
}
.con_list {
  overflow-y: scroll;
  height: 456px;
}
.con_list a {
  text-decoration: none;
}
.modal_wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  font-family: 'Playfair Display';
  background: 	rgba(138, 138, 138, 0.507);
}
.form_wrapper {
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  width: 330px;
  padding: 20px;
  background: white;
  border: 1px solid rgb(221, 220, 220);
  border-radius: 10px;
}
.saveClose_btn {
  padding: 10px;
}
.error_msg {
  color: red;
  text-align: left;
  margin-top: -10px;
  margin-left: 10px;
}
.title {
border-bottom: 1px solid gray;
color: rgb(6, 54, 83);
 }
