body {
  margin: 0;
  background: #FFFAFA;
  text-align: center;
  font-family: 'Playfair Display';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button {
  cursor: pointer;
  outline: none;
  border: none
}
input {
  outline: none;
  padding: 12px;
  margin: 10px;
}
